#.gitignore for heart-disease-risk-analysis

# Python environment
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Data and results (do not commit large datasets or generated results)
/data/*
!data/Heart_Failure.csv
/results/*
!results/HW1_Result.pdf
!results/kmeans_clusters_age_maxhr_final.png

# Environment files
.env
.env.*

# IDE/editor
.vscode/
